<main class="flex flex-col items-center">
  <section class="flex flex-col lg:flex-row items-center">
    <div class="border-x lg:border-r lg:border-b border-text lg:flex-1">
      <img
        class="w-full"
        src="assets/images/asterix.jpg"
        alt="figurine d'Asterix le Gaulois"
      />
    </div>
    <article
      class="border-x border-t lg:border-y lg:border-x-0 border-text bg-primary lg:flex-1"
    >
      <h2 class="text-title text-5xl font-title p-8 mt-8">Au petit village</h2>
      <p class="text-text text-xl p-8">
        Fondée en 2024, Au petit village est une entreprise artisanale qui se
        consacre à la création de figurines inspirées des célèbres personnages
        de
        <strong class="font-extrabold"
          >la bande dessinée Astérix et Obélix</strong
        >. Située en France, cette entreprise s’adresse aux passionnés de
        l’univers gaulois et aux collectionneurs en quête de pièces uniques.
        Chaque figurine est minutieusement
        <strong class="font-black">façonnée à la main </strong>par des artisans
        experts, mettant à l’honneur le savoir-faire local et une grande
        attention au détail pour capturer l’essence des personnages
        emblématiques comme Astérix, Obélix, Idéfix et bien d’autres.
      </p>
    </article>
  </section>
  <section class="flex flex-col items-center lg:flex-row">
    <article class="border border-text lg:border-x-0 bg-primary lg:flex-1">
      <p class="text-text text-xl p-8">
        Les créations de
        <strong class="font-extrabold">Au petit village</strong> se distinguent
        par leur authenticité et leur fidélité à l’univers d’origine. Grâce à
        une sélection rigoureuse des matériaux et à une approche artistique
        soignée, l’entreprise propose des figurines de haute qualité, adaptées à
        tous les âges, pour enrichir toute collection ou ajouter une touche de
        nostalgie à la décoration d’intérieur. Respectant les valeurs de
        durabilité et de fabrication artisanale, Au petit village fabrique
        chaque pièce en petites séries, rendant chacune d’elles
        <strong class="font-extrabold">unique et précieuse</strong>. En mettant
        en avant l’héritage culturel de la bande dessinée, Au petit village
        aspire à rassembler les amateurs de l’univers gaulois tout en perpétuant
        une tradition de fabrication locale. L’entreprise propose une gamme
        variée de figurines que les clients peuvent découvrir, pour revivre les
        aventures intemporelles de leurs héros favoris.
      </p>
    </article>
    <div class="border-x lg:border-t border-text lg:flex-1">
      <img
        class="w-full"
        src="assets/images/lot-figurines.jpg"
        alt="lot de figurines de Au petit village"
      />
    </div>
  </section>
</main>
