header {
  background: var(--primary);
  height: 20rem;
}
.logo {
  .bulles {
    position: relative;
    .bull-1 {
      position: absolute;
      top: 0.5rem;
      left: 3rem;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      border: var(--border);
      background: var(--light);
    }
    .bull-2 {
      position: absolute;
      top: 2rem;
      left: 1rem;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      border: var(--border);
      background: var(--light);
    }
    .bull-3 {
      position: absolute;
      top: 4rem;
      left: 1rem;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      border: var(--border);
      background: var(--light);
    }
  }
  .logo-img {
    margin: 0.5rem 0 0.5rem 2rem;
    img {
      object-fit: cover;
      border-radius: 50%;
      border: var(--border);
    }
  }
}
