<header class="d-flex flex-row flex-justify-content-between">
  <div class="logo">
    <div class="bulles">
      <div class="bull-1"></div>
      <div class="bull-2"></div>
      <div class="bull-3"></div>
    </div>
    <div class="logo-img">
      <a href="#"
        ><img
          ngSrc="/assets/images/logo-au-petit-village.jpg"
          width="190"
          height="190"
          priority
          alt="logo au petit village"
      /></a>
    </div>
  </div>
  <nav class="d-flex flex-align-items-center">
    <ul class="d-flex flex-row flex-justify-content-between">
      <li class="p-10"><a href="" class="active">accueil</a></li>
      <li class="p-10"><a href="">à propos</a></li>
    </ul>
  </nav>
</header>
