<header class="w-screen flex justify-between bg-primary px-8">
  <div class="logo">
    <div class="bulles relative">
      <div
        class="absolute top-2 left-10 size-2 rounded-full border-2 border-text bg-white"
      ></div>
      <div
        class="absolute top-7 left-4 size-4 rounded-full border-2 border-text bg-white"
      ></div>
      <div
        class="absolute top-16 left-5 size-6 rounded-full border-2 border-text bg-white"
      ></div>
    </div>
    <div
      class="size-48 bg-[url(./assets/images/logo-au-petit-village.jpg)] bg-cover rounded-full border-2 border-text mx-12 my-6"
    >
      <a href="#"></a>
    </div>
  </div>
  <nav class="flex items-center">
    <ul class="flex content-between capitalize text-2xl font-bold">
      <li class="p-4">
        <a
          class="hover:text-title"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >accueil</a
        >
      </li>
      <li class="p-4">
        <a
          class="hover:text-title"
          routerLink="/about"
          routerLinkActive="active"
          >à propos</a
        >
      </li>
    </ul>
  </nav>
</header>
