<header
  class="relative md:static w-screen flex justify-center border border-text lg:justify-between bg-primary px-8"
>
  <div class="logo size-56">
    <div class="bulles relative">
      <div
        class="absolute top-2 left-10 size-2 rounded-full border-2 border-text bg-white"
      ></div>
      <div
        class="absolute top-7 left-4 size-4 rounded-full border-2 border-text bg-white"
      ></div>
      <div
        class="absolute top-16 left-5 size-6 rounded-full border-2 border-text bg-white"
      ></div>
    </div>
    <div
      class="size-48 bg-[url(./assets/images/logo-au-petit-village.jpg)] bg-cover rounded-full border-2 border-text mx-12 my-6"
    >
      <a href="#"></a>
    </div>
  </div>
  <div class="md:hidden p-8" (click)="toggleMenu()">
    <i class="fa-solid fa-bars fa-lg" [class.hidden]="isMenuOpen"></i>
    <i class="fa-solid fa-xmark fa-lg hidden" [class.hidden]="!isMenuOpen"></i>
  </div>
  <nav
    class="absolute right-6 top-20 md:static flex flex-col md:flex-row items-center"
    [class.hidden]="!isMenuOpen"
  >
    <ul
      class="flex flex-col md:flex-row content-between capitalize md:text-4xl font-bold"
    >
      <li class="p-4">
        <a
          class="hover:text-title"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >accueil</a
        >
      </li>
      <li class="p-4">
        <a
          class="hover:text-title"
          routerLink="/about"
          routerLinkActive="active"
          >à propos</a
        >
      </li>
    </ul>
  </nav>
</header>
