<main>
  <section
    class="flex flex-col lg:flex-row lg:justify-center lg:items-center text-xl"
  >
    <div>
      <img
        src="assets/images/lot-figurines.jpg"
        alt="Les figurines du village d'Astérix le Gaulois par Au petit village"
        class="block m-auto border-x lg:border lg:m-10 border-text"
      />
    </div>
    <article class="border border-text bg-primary lg:w-2/5 h-fit">
      <h1 class="text-5xl text-title font-title p-8">Au petit village</h1>
      <p class="p-8">
        Au petit village est une jeune entreprise artisanale qui fabrique des
        figurines inspirées des personnages de la célèbre bande dessinée Astérix
        et Obélix. Située en France, elle a pour missions de compléter les
        collections des passionnés de l’univers Gaulois par ses figurines faites
        à la main.
      </p>
    </article>
  </section>
  <section class="text-xl"></section>
</main>
