<main>
  <section class="text-xl">
    <div class="border border-text w-screen">
      <img
        src="assets/images/lot-figurines.jpg"
        alt="Les figurines du village d'Astérix le Gaulois par Au petit village"
      />
    </div>
    <article class="border border-text bg-primary">
      <h1 class="text-5xl text-title font-title">Au petit village</h1>
      <p>
        Au petit village est une jeune entreprise artisanale qui fabrique des
        figurines inspirées des personnages de la célèbre bande dessinée Astérix
        et Obélix. Située en France, elle a pour missions de compléter les
        collections des passionnés de l’univers Gaulois par ses figurines faites
        à la main.
      </p>
    </article>
  </section>
  <section class="text-xl"></section>
</main>
