<div *ngIf="product" class="flex justify-center items-center p-4 lg:p-8">
  <div
    class="bg-primary border border-text overflow-hidden flex flex-col lg:flex-row max-w-fit min-h-[512px] justify-center items-center"
  >
    <img
      [src]="product.image"
      [alt]="product.name"
      class="block w-full object-cover border-b lg:border-y lg:border-r border-text xl:border-y-0"
    />
    <div class="p-8">
      <h1 class="text-4xl font-title text-title mb-4">{{ product.name }}</h1>
      <p class="text-2xl font-bold pb-4">{{ product.price }} €</p>
      <p class="text-xl mb-4">{{ product.description }}</p>
    </div>
  </div>
</div>
