@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Bubbleboddy Neue Regular */
  @font-face {
    font-family: "Bubbleboddy Neue";
    src: url("./assets/font/Bubbleboddy/bubbleboddyneue-regular\ trial.woff2")
        format("woff2"),
      url("./assets/font/Bubbleboddy/bubbleboddyneue-regular\ trial.woff")
        format("woff"),
      url("./assets/font/Bubbleboddy/bubbleboddyneue-regular\ trial.ttf")
        format("truetype");
    font-weight: 400; /* Poids pour la version regular */
    font-style: normal;
  }

  /* Bubbleboddy Neue Bold */
  @font-face {
    font-family: "Bubbleboddy Neue";
    src: url("./assets/font/Bubbleboddy/BubbleboddyNeue-Bold\ Trial.woff2")
        format("woff2"),
      url("./assets/font/Bubbleboddy/BubbleboddyNeue-Bold\ Trial.woff")
        format("woff"),
      url("./assets/font/Bubbleboddy/BubbleboddyNeue-Bold\ Trial.ttf")
        format("truetype");
    font-weight: 700; /* Poids pour la version bold */
    font-style: normal;
  }

  /* Bubbleboddy Neue ExtraBold */
  @font-face {
    font-family: "Bubbleboddy Neue";
    src: url("./assets/font/Bubbleboddy/BubbleboddyNeue-ExtraBold\ Trial.woff2")
        format("woff2"),
      url("./assets/font/Bubbleboddy/BubbleboddyNeue-ExtraBold\ Trial.woff")
        format("woff"),
      url("./assets/font/Bubbleboddy/BubbleboddyNeue-ExtraBold\ Trial.ttf")
        format("truetype");
    font-weight: 800; /* Poids pour la version extrabold */
    font-style: normal;
  }

  /* Bubbleboddy Neue Light */
  @font-face {
    font-family: "Bubbleboddy Neue";
    src: url("./assets/font/Bubbleboddy/BubbleboddyNeue-Light\ Trial.woff2")
        format("woff2"),
      url("./assets/font/Bubbleboddy/BubbleboddyNeue-Light\ Trial.woff")
        format("woff"),
      url("./assets/font/Bubbleboddy/BubbleboddyNeue-Light\ Trial.ttf")
        format("truetype");
    font-weight: 300; /* Poids pour la version light */
    font-style: normal;
  }

  /* Bubbleboddy Neue Thin */
  @font-face {
    font-family: "Bubbleboddy Neue";
    src: url("./assets/font/Bubbleboddy/BubbleboddyNeue-Thin\ Trial.woff2")
        format("woff2"),
      url("./assets/font/Bubbleboddy/BubbleboddyNeue-Thin\ Trial.woff")
        format("woff"),
      url("./assets/font/Bubbleboddy/BubbleboddyNeue-Thin\ Trial.ttf")
        format("truetype");
    font-weight: 100; /* Poids pour la version thin */
    font-style: normal;
  }

  /* // confortaa bold */
  @font-face {
    font-family: "Comfortaa";
    src: url("./assets/font/Comfortaa/Comfortaa-Bold.woff2") format("woff2"),
      url("./assets/font/Comfortaa/Comfortaa-Bold.woff") format("woff"),
      url("./assets/font/Comfortaa/Comfortaa-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
  }

  /* // comfortaa regular */
  @font-face {
    font-family: "Comfortaa";
    src: url("./assets/font/Comfortaa/Comfortaa-Regular.woff2") format("woff2"),
      url("./assets/font/Comfortaa/Comfortaa-Regular.woff") format("woff"),
      url("./assets/font/Comfortaa/Comfortaa-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
  }

  /* // Confortaa light */
  @font-face {
    font-family: "Comfortaa";
    src: url("./assets/font/Comfortaa/Comfortaa-Light.woff2") format("woff2"),
      url("./assets/font/Comfortaa/Comfortaa-Light.woff") format("woff"),
      url("./assets/font/Comfortaa/Comfortaa-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
  }
}
/* // variables
// :root {
//   --text: #151217;
//   --title: #da001e;
//   --primary: #fdd90b;
//   --background: #f9d0a3;
//   --light: #fff;
//   --border: 2px solid var(--text);
// } */
